* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #434343;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

ul {
	list-style: none;
}

/**
 * top header
 */
.top-header {
	align-items: center;
	background: #1dcaff;
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.avatar {
	background: #FFFFFF;
	border-radius: 50%;
	color: #333C4D;
	height: 40px;
	margin-right: 20px;
    margin-left: 10px;
	padding-left: 9px;
	padding-top: 5px;
	width: 40px;
}

#logout-link {
	padding-left: 10px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 500;
}

/**
 * top navigation
 */
.top-nav {
	flex: 1;
}

.top-nav a {
	color: black;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
}

#welcome-msg {
	max-width: 215px;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration:none;
	margion-right: .25rem;
	position: relative;
	color:black;
	z-index: 5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
}

/**
 * main container
 */
.container {
	margin: 60px auto;
	max-width: 1000px;
	min-width: 600px;
}

/**
 * main header
 */
.container>header {
	align-items: center;
	background-image:
		url("../imgs/find-job-background.jpg");
		no-repeat 50% 50%;
	background-size: 100%;
	display: flex;
	height: 250px;
}

.container>header p {
	border-left: 1px solid #FFFFFF;
	font-weight: 400;
	font-size: 2em;
	line-height: 1em;
	margin-left: 220px;
	padding-left: 5px;
}

.container>header span {
	color: #FBAF41;
}

/**
 * login form
 */
#login-form {
	color: #624630;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 300px;
}

#login-form label {
	color: #4b4b4b;
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    font-size: .875rem;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 1.43;
    display: block;
}

#login-form input {
	border: none;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


#login-form button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.error-msg {
	clear: both;
	color: white;
	background-color:red;
	padding-top: 10px;	
	display: inline-block;
}
.successful-msg {
	clear: both;
	color: white;
	background-color:green;
	padding-top: 10px;	
	display: inline-block;
}

#signup-form {
	color: #624630;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 300px;
}
#signup-form label {
	color: #4b4b4b;
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    font-size: .875rem;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 1.43;
    display: block;
}

#signup-form input {
	border: none;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
}

#signup-form button {
  background-color: #555555;
  border: none;
  color: white;
   padding: 10px 10px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/**
 * main section
 */
.main-section {
	background: #1dcaff;
}

/**
 * main section
 */
.main-section-signup {
	background: white;
	visibe:false;
}

/**
 * aside left
 */
#item-nav {
	float: left;
	width: 180px;
	min-height: 550px;
}

.nav-icon {
	color: #624630;
	padding: 20px;
	text-align: center;
}

/**
 * main navigation
 */
.main-nav-btn {
	background: none;
	border-top: 1px solid #FFFFFF;
	color: black;
	display: block;
	padding: 20px;
	text-align: left;
	text-decoration: none;
}

.main-nav-btn:hover {
	background: rgba(255, 255, 255, 0.8);
	color: #624630;
}

.main-nav-btn.active {
	background: black;
	color: #1dcaff;
}

.main-nav-btn i {
	width: 20px;
}

.main-nav {
	float: left;
	width: 180px;
	min-height: 450px;
}
}
/**
* Search Bar
*/
.text-lable-what-where {
	color: black;
	font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
	font-size: 1.45rem;
	font-weight: 700;
	line-hight: 1.05;
}
.text-lable-whatwhere-hint {
	font-size: .6875rem;
	font-weight: 400;
	line-height: 1.46;
	color:#909090
}
.input_submit {
	width: auto;
	font-size:14px;
	font-stretch:100%;
	font-weight:700;
	padding-left:24px;
	padding-right:24px;
}
/**
* recommend Options
*/
/* The container */
.recsection {
	position: relative;
  padding-left: 200px;
}
.reccontainer {
 display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:black;
}

/* Hide the browser's default checkbox */
.reccontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.reccontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.reccontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.reccontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.reccontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.recoption {
	font-size: 1.125rem !important;
	color: black;
	line-height: 1.5 !important;
	margin-bottom: 2px;
	margin-right: 0 !important;
	font-weight: 500;
	float: none;	
}
.rectitle {
	font-size: 22px;
	color: black;
	line-height: 1.5 !important;
	margin-bottom: 2px;
	margin-right: 0 !important;
	font-weight: 700;
	float: none;
}
/**
 * item list
 */
.item-list {
	background: white;
	color: #624630;
	list-style: none;
	margin-left: 180px;
	min-height: 550px;
	padding: 10px;
}
.row {
	padding-top: 0.75rem !important;
	padding-bottom: 0.75rem !important;
}
.jobtitle {
	font-size: 22px !important;
	color: black;
	line-height: 1.5 !important;
	text-decoration: underline;
	margin-bottom: 2px;
	margin-right: 0 !important;
	font-weight: 700;
	float: none;
}

.jobcompany {
	font-size: 1rem !important;
	line-height: 1.38 !important;
	width: auto;
	color: #4b4b4b;
	font-weight: 500
}
.joblocation {
	font-size: 1rem !important;
	line-height: 1.38 !important;
	color: #909090;
	font-weight: 500
	white-space: nowrap;
}
.jobsnippet {
	font-size: 0.875rem !important;
	line-height: 1.25 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: 50px;
	color: #4b4b4b;
	width: auto;
}

#searchbar {
background: white;
	color: #624630;
	margin-left: 180px;
	min-height: 100px;
	padding: 10px;	
}

.what-where-lable {
	font-size: 14px;
	font-weight: 500;
	color:#909090
}

.text-lable-what-where {
	font-size: 18px;
	font-weight: 700;
}
.input_text {
	padding:8px 8px 16px 16px;
	
}
.input_submit {
	margin-left:20px;
	padding:10px 10px 16px 16px;
	text-align:center;
	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
  	background-color:#1dcaff;
  	color:black;
  	border-radius: 20px;
  	width: 100px
}
.item-list-search {
	background: white;
	color: #624630;
	list-style: none;
	margin-left: 180px;
	min-height: 450px;
	padding: 10px;
}

#item-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

/**
 * item
 */
.item {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.item:last-child {
	border: none;
}

.item:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

.item img {
	border: 1px solid #FFFFFF;
	height: 80px;
	width: 80px;
}

.item>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name {
	color: #624630;
	font-weight: 400;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.item-address {
	line-height: 20px;
	padding-right: 20px;
	text-align: right;
}

.stars {
	align-items: center;
	display: flex;
	padding-top: 10px;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #F13F3F;
}

/**
*
*/
/* The Modal (background) */
  #job-detail-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 0px; /* avoid scroll bar problem */
    padding-bottom: 0px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 20px;
    width: 80%;
    color: black;
  }
  
  #job-detail-header {
    background-color: #ffff;
    /**height: auto; */
    position: relative;
    padding: 16px 24px;
  }
 
  #job-detail-title {
    color: #000000;
    line-height: 20px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right: 30px;   
  }
  #job-detail-company-location {
  	font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 30px;
  }
  #job-detail-company {
    color: #1dcaff;
    line-height: 20px;
    padding-right:20px;
  }
  
  #job-detail-location {
    color: #909090;;
    line-height: 20px;
    
    
  }
  
  
  #job-detail-content {
  	color:black;
  }
  
  /* The Close Button */
  #modal-content-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
  }
  
  #modal-content-close:hover,
  #modal-content-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content-like, .modal-content-apply{
    padding: 10px 10px 10px 15px;
    width: 150px;
    font-size: 20px;
    margin: 30px 20px 10px 10px;
    border-radius: 20px;
    background-color: #1dcaff;
    color: black;
    text-align: center;
    text-decoration: none;    
  	cursor: pointer;
  	width:200px
  }
   .modal-content-liked, .modal-content-applied{
    padding: 10px 10px 10px 15px;
    font-size: 20px;
    margin: 30px 20px 10px 10px;
    border-radius: 20px;
    background-color: black;
    color: #1dcaff;
    text-align: center;
    text-decoration: none;    
  	cursor: pointer;
  	width:200px
  }
/**
 * footer section
 */
footer {
	position: relative;
	bottom: 0;
	background: #434343;
	font-size: 0.8em;
	align-items: center;
}

footer p {
	text-align: center;
}

footer p.footer-title {
	font-size: 1.2em;
	padding: 15px;
}

footer ul {
	align-items: center;
	display: flex;
	padding: 20px;
}

footer ul li {
	flex: 1;
}