https://gitlab.com/Flagcamp1234/jobrecommendation.git/*.selector-for-some-widget {
  box-sizing: content-box;
}
*/
#signin-btn {
  position: relative;
  padding-top: 9px; 
  margin-top: 30px;
}

pre {
  white-space: pre-wrap; 
  word-wrap: break-word; 
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\b";
}

#welcome-msg {
	position: fixed;
	margin-left: 1200px;
}

.avatar {
	position: fixed;
	color: #3399FF;
	margin-right: 0px;
	margin-left: 1360px;
	padding-left: 9px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.avatar:hover {
	color: #007bff;
}

.dropdown-toggle::after {
	content: none;
}

.close {
  margin-right: 2px;
  margin-top: 2px;
}

.form-what {
  position: relative;
  font-size: 20px;
  top: 50px;
  left: 0px;
}

.btn-primary {
  background-color: #3399FF;
  border-color: #3399FF;
}

.btn-search {
	position: relative;
	margin-top: 33px;
}

.form-where {
  font-size: 20px;
  position: relative;
  top: 50px;
  left: 150px;
}

.form-search {
  position: relative;

  top: 55px;
  left: 310px;
}

.container {
  margin: 30px auto;
  margin-left: 50px;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: block;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.0em;
}

.fix-job {

}
.top-header {
  align-items: center;
  background: #E9ECEF;
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.top-header>nav {
    margin-top: 15px;
}

.main-section {
  margin-top:100px;
  margin-right: 0px;
  min-width: 1300px;
  max-width: 11000px;
}

#item-nav {
  float: left;
  width: 500px;
}

.nav-icon {
  color: #624630;
  padding: 20px;
  text-align: center;
}

.main-nav-btn {
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  padding: 50px;
  text-align: left;
  text-decoration: none;
}

/*.list-custom {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}*/

.main-nav-btn: hover {
  background: rgba(255, 255, 255, 0.8);
  color: #624630;
}

.main-nav-btn.active {
  background: #F6F6F6;
  color: #624630;
}

.list-group-item {
  border-color: #FFF;
}

.list-group-item.active {
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  border-left-color: #3399FF;
  border-left-width: 2px;
  color: #000;
}

.list-group-item:first-child {
/*  border-top-color: #3399FF;
  border-top-width: 2px;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  width: 100px;
}

.main-nav-btn i {
  width: 20px;
}

#item-list {
  background: #F6F6F6;
  list-style: none;
  margin-left: 500px;
  min-height: 250px;
  padding: 10px;
}

.item {
  align-items: center;
  border-bottom: 2px solid #FFF;
  display: flex;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 10px;
  transition: background-color 100ms linear;
}

.item:last-child {
  border-bottom-color: #FFFFFF;
  border-bottom-width: 3px;
}

.item img {
  border: 1px solid #FFFFFF;
  height: 80px;
  width: 80px;
}

.item>div:first-of-type {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.item-name {
  font-weight: bolder;
  padding-top: 10px;
  font-weight: 400;
  text-decoration: none;
}

/*.item-name:hover {
  text-decoration: underline;
}*/

.item-address {
  line-height: 20px;
  padding-right: 20px;
  text-align: right;
}

.fav-link {
  border-left: 1px;
  color: #FF9999;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  width: 60px;
}

.jobname {
  cursor: pointer;
}

.jobname:hover {
  text-decoration: underline;
}

.fav-link:hover {
  color: #F13F3F;
}

footer {
  background: #E9ECEF;
  font-size: 0.8em;
  height: 100px;
  border-top: 30px;
  position: relative;
}

footer p {
  text-align: center;
}

footer p.title {
  font-size: 1.2em;
  padding: 15px;
}

footer ul {
  align-items: center;
  display: flex;
  padding: 20px;
}

footer ul li {
  flex: 1;
}
